.footer {
  width: 100%;
  background-color: #6278f7;
  background-image: url('../../../public/imagens/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
  font-weight: 500;
}
.footer .div-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer > img {
  height: 48px;
}